<div class="container">
  <div class="grid">
    <div class="col-12 genres-links">
      <ng-container *ngIf="genres$ | async as genres">
        <!-- here keydown is an event listener where the function is called findByGenre which displays 
        the list of elements  
        click is used to submit button we have to figure out, and it's 
        used for clicking the button -->
        <a
          *ngFor="let genre of genres"
          (keydown)="findByGenre(genre.id)"
          (click)="findByGenre(genre.id)"
          role="button"
          aria-hidden="true"
        >
          {{ genre.name }}
        </a>
      </ng-container>
    </div>
  </div>
  <!--  -->
  <ng-container *ngIf="shows$ | async as showsList">
    <div class="grid">
      <div class="col-2" *ngFor="let show of showsList">
        <app-show-item [showItem]="show" />
      </div>
    </div>
  </ng-container>
</div>
