<header>
  <div class="logo">
    <a href="">
      <!-- here it is left blank because home page is referenced as left blank -->
      <img src="assets/images/imdb.png" alt="" />
    </a>
  </div>
  <div class="navigation">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <!-- router link is similar to href where upon clicking we are redirected to another page -->
      <li><a routerLink="list/movie">Movies</a></li>
      <!-- here we can pass the movie list component so upon clicking the movie-list tag we are redirected to the movielist url page -->
      <li><a routerLink="list/tv">TvShows</a></li>
      <li><a routerLink="/genres">Genres</a></li>
    </ul>
  </div>
</header>
